*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body
{   
    background-image:linear-gradient(rgba(0,0,0,0.40),rgba(0,0,0,0.40)),url(netflix-background.jpg);
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    width: auto;
    border: none;
    outline: none;
    background-repeat: no-repeat;

}
section h1
{
    font-size: 50px;
    font-weight: 800;
}
#specificSizeInputGroupUsername
{   
    width: 45vh;
    padding-left: 10px;
    padding: 3.3vh 1.5vh;  
}
#specificSizeInputGroupUsername
{
    outline: 2px solid rgb(162, 156, 156);
}
#form1 ::-webkit-input-placeholder
{
    color: lightslategray;
}
#form2 button
{      
    width: 25vh;
    padding: 1.50vh 1.5vh;
}
#trendingnow h2
{
    margin-top: 17%;
}
.mainset
{
    background:linear-gradient(rgba(0,0,0,0.90),rgba(0,0,0,0.90));
}
#trendingnow
{
    position: relative;
    top: 30px;
}
.carousel-inner{
    margin-left: 8%;
    margin-right: 10%;
}
.carousel-inner img:hover
{
    transform: scale(0.98);
}
.row #cardmodel .card
 {
    background: linear-gradient(90deg,#10164A 40%, #301C3A 80%);
    color: white;
    border: none;
    border-radius: 10px;
    height: 280px;
}
.row .card p
{
    font-size: 15px;
}
.card-text {
    font-size: 1rem;
    color: #b0b8c1;
}
#net
{
    background: linear-gradient(90deg,rgba(42,42,42,0.95) 80%, rgba(42,42,42,0.95) 80%);
    font-size: 20px;
}
#faqcard
{
     background: linear-gradient(90deg,rgba(42,42,42,0.95) 80%, rgba(42,42,42,0.95) 80%);
}
.footer {
    margin-left: 0;
    padding: 40px 15% 10px;
    color: hsl(0, 0%, 44%);
    background-color: black;
}
#box2
{
    background-color: black;
    color:wheat;
    width: 0%;
    background-color: transparent;
    color: white;
    height: 40px;
    font-size: 15px;
    padding: 0 15px;
    margin-right: 10px;
    font-weight: bold;
}
.footer h2 {
    font-size: 18px;
    margin-left: 0;
}
.footer .col a {
    display: block;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.footer .row {
    align-items: flex-start;
    padding: 10px 0px;
}
